-#   Copyright (c) 2013, Friedhelm Victor.
- recommendation_list = compute_from_received
- unless recommendation_list.empty?
  .section
  .title
    .icons-recommendation
    %h5.title-header Recommendations
  .content
    %table.recommendation-table
      -recommendation_list.each do |person|
        %tr.recommendation-row
          %td.profile-picture
            =person_image_link(person)
          %td.description-action
            %h6.author=person_link(person)
            =render :partial => 'people/relationship_action',
                    :locals => { :person => person, :contact => current_user.contacts.find_by_person_id(person.id),
                                 :current_user => current_user }

